<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${catalina.base}/logs/bot-connector.log</file>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


  <root level="debug">
    <appender-ref ref="console"/>
    <appender-ref ref="FILE"/>
  </root>
  
  <logger name="com.nadozirny.camunda" level="info" />
  <logger name="com.nadozirny.camunda" level="debug" />
</configuration>
